.aim
  = form_with url: "@pages" do |f|
    = f.select :purpose, [ ["ビジネス(メンズ)",1], ["ビジネス(レディース)", 2], ["プライベート(メンズ)", 3 ] ,["プライベート(レディース)", 4], ["オフィスカジュアル(メンズ)", 5], ["オフィスカジュアル(レディース)", 6] ], prompt: "職業を選択してください", class: "aim-box"
    = f.submit "送信", class: "aim-box-a"
