.weatherMain
  .day
    %div
      %div
        %span 現在の天気
      %div
        %span 天気：
        %span.dayWeather
      %div
        %img.dayWeatherIcon/
      %div
        %span 気温：
        %span.nowTemp
        %span 度
  .tomorrow
    %div
      %div
        %span 明日9時の天気
      %div
        %span 天気：
        %span.tomorrowWeather
      %div
        %img.tomorrowWeatherIcon/
      %div
        %span 気温：
        %span.tomorrowTemp
        %span 度
  .dayAfterTomorrow
    %div
      %div
        %span 明後日9時の天気
      %div
        %span 天気：
        %span.dayAfterTomorrowWeather
      %div
        %img.dayAfterTomorrowWeatherIcon/
      %div
        %span 気温：
        %span.dayAfterTomorrowTemp
        %span 度
