%body
  %header.header
    .header__bar.row
      %h1.grid-6
        %a{:href => "/"} WearherCloth
      .user_nav.grid-6
        %a.post{:href => "/posts/new"} 投稿する
.contents.row
  .success
    %h3
      削除が完了しました。
    %a.btn{:href => "/posts/index"} 投稿一覧へ戻る
